{% extends "base.html" %}
{% load static %}
{% block content%}
        <div class="greenRow" style="padding-bottom: 30px;">
            <div class="row">
                <div class="col">
                    <h1 class='customFont' style='font-size: 6em;'>Nekudos Bots</h1>
                </div>


            </div>
            <div class="row">
                <div class="col">
                    <p class='smallCustomFont' style='font-size: 2em;'>
                        Nekudos Bots reinforces nekudos in children with a fun ice cream themed game!
                    </p>
                </div>
            </div>
            <div class="row">
                <i class="fas fa-robot"></i>
                <h3 class='smallCustomFont' style='font-size: 2em;'> Ice Cream Truck Game</h3>
            </div>
            <div class="row">
                <img src="{% static 'img/NekudosBots/Ice Cream Truck.png' %}"  class='img-fluid' style='width: 70%; height: 70%; border: 8px solid #D9E6F4; text-align: center; margin-left: 15%;'/>
            </div>
            <div class="row">
                <i class="fas fa-robot"></i>
                <h3 class='smallCustomFont' style='font-size: 2em;'> Build the Ice Cream Cone Game</h3>
                    
            </div>
            <div class="row">
                <img src="{% static 'img/NekudosBots/Build Ice Cream.png' %}"  class='img-fluid' style='width: 70%; height: 70%; border: 8px solid #D9E6F4; text-align: center; margin-left: 15%;'/>
            </div>
            <div class="row">
                <i class="fas fa-robot"></i>
                <h3 class='smallCustomFont' style='font-size: 2em;'> Ice Cream Toppings Game</h3>
            </div>
            <div class="row">
                <img src="{% static 'img/NekudosBots/Toppings Game.png' %}"  class='img-fluid' style='width: 70%; height: 70%; border: 8px solid #D9E6F4; text-align: center; margin-left: 15%;'/>
            </div>
            <div class="row">
                <i class="fas fa-robot"></i>
                <h3 class='smallCustomFont' style='font-size: 2em;'> Sort the Sundae Game</h3>
            </div>
            <div class="row">
                <img src="{% static 'img/NekudosBots/Sundae Game.png' %}"  class='img-fluid' style='width: 70%; height: 70%; border: 8px solid #D9E6F4; text-align: center; margin-left: 15%;'/>
            </div>
            <div class="row" style="margin-top: 1em;">
                <h3 class='smallCustomFont' style='font-size: 2.5em;text-align: center;'>Download today!</h3>
            </div>
            <div class="row">
                    <div class="col-4" align="center">
                        <a href="https://play.google.com/store/apps/details?id=com.CraftyCodersApps.NekudosBots">
                            <img src="{% static 'img/androidDownload.png' %}" alt="Download from Google Play" style="width: 50%; "/>
                        </a>
                    </div>
                    <div class="col-4" align="center">
                        <a href="https://apps.apple.com/us/app/nekudos-bots/id1613250340">
                            <img src="{% static 'img/appleDownload.png' %}" alt="Download from Apple App Store" style="width: 50%; "/>
                        </a>
                    </div>
                    <div class="col-4" align="center">
                        <a href="https://www.amazon.com/dp/B09X4HPT46/ref=apps_sf_sta">
                            <img src="{% static 'img/amazonDownload.png' %}" alt="Download from Amazon App Store" style="width: 50%; "/>
                        </a>
                    </div>
            </div>
        </div>
{% endblock content %}