{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Pesach Runner</title>
{% endblock %}
{% block content%}
        <div class="greenRow" style="padding-bottom: 30px;">
            <div class="row">
                <div class="col">
                    <h1 class='customFont' style='font-size: 6em;'>Pesach Runner</h1>
                </div>


            </div>
            <div class="row">
                <div class="col">
                    <p class='smallCustomFont' style='font-size: 2em;'>
                        Run through Mitzrayim with the PesachBots!
                    </p>
                </div>
            </div>
            <div class="row">
                <img src="{% static 'img/PesachRunner/Image 1.png' %}"  class='img-fluid' style='width: 70%; height: 70%; border: 8px solid #D9E6F4; text-align: center; margin-left: 15%;'/>
            </div>
            <div class="row">
                <img src="{% static 'img/PesachRunner/Image 2.png' %}"  class='img-fluid' style='width: 70%; height: 70%; border: 8px solid #D9E6F4; text-align: center; margin-left: 15%;'/>
            </div>
            <div class="row">
                <img src="{% static 'img/PesachRunner/Image 3.png' %}"  class='img-fluid' style='width: 70%; height: 70%; border: 8px solid #D9E6F4; text-align: center; margin-left: 15%;'/>
            </div>
            <div class="row" style="margin-top: 1em;">
                <h3 class='smallCustomFont' style='font-size: 2.5em;text-align: center;'>Download today!</h3>
            </div>
            <div class="row">
                    <div class="col-4" align="center">
                        <a href="https://play.google.com/store/apps/details?id=com.CraftyCodersApps.PesachRunner&pli=1">
                            <img src="{% static 'img/androidDownload.png' %}" alt="Download from Google Play" style="width: 50%; "/>
                        </a>
                    </div>
                    <div class="col-4" align="center">
                        <a href="https://apps.apple.com/us/app/pesachrunner/id6446907404">
                            <img src="{% static 'img/appleDownload.png' %}" alt="Download from Apple App Store" style="width: 50%; "/>
                        </a>
                    </div>
            </div>
            <div class="row" style="margin-top: 1em;">
                <p>Credits: Music from SketchyLogic. Sound effects from Damaged Panda.</p>
            </div>
        </div>
{% endblock content %}