{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Support</title>
{% endblock %}
{% block content %}
<div class="greenRow" style="text-align: center;">
    <div class='row'>
        <div class="col">
            <h1  class='customFont' style='font-size: 6em; text-align: center;'>Support</h1>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <p class='smallCustomFont' style='font-size: 2em; text-align: center;'>
                Having trouble with your game? 
                Please reach out to ariella@craftycodersapps.com for any support or assistance.
            </p>
        </div>
    </div>
    <div class='row' style='text-align: center; padding-bottom: 50px;'>
        <img src="{% static 'img/Alef Bais Bots Screen Capture.png' %}" class='img-fluid' style='width: 70%; height: 70%; border: 8px solid #D9E6F4; text-align: center; margin-left: 15%;'/>
    </div>
</div>
{% endblock content %}